<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action="/auth/editProfile" method="post" enctype="multipart/form-data">
        <label for="">Image</label>
        <input type="file" name="profileImage">

        <label for="">Username</label>
        <textarea name="username"></textarea>

        <label for="">Name</label>
        <textarea name="Name"></textarea>

        <label for="">Email</label>
        <textarea name="email"></textarea>
    </form>
</body>
</html>