<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New password</title>
</head>
<body>
    <h1>New password</h1>
    <form action="/auth/newPassword" method="post">
        <label for="">Enter your new password</label>
        <input type="password" name="password" id="newPass1"><button onclick="showPass('newPass1')">O</button>

        <!-- <label for="">Verifty your password</label>
        <input type="password" name="" id="newPass2"> <button onclick="showPass('newPass2')">O</button> -->

        <form action="/auth/login" method="post">
            <button type="submit" onclick="submit()">Submit</button>
        </form>
    </form>
    <script>
        function showPass(inputId) {
            const input = document.getElementById(inputId)
            input.type = input.type === 'password' ? 'text' : 'password'
        }

        function submit(e){
            const newPass1 = document.getElementById('newPass1')
            const newPass2 = document.getElementById('newPass2')

            if(newPass1 !== newPass2){
                e.preventDefault()
                alert('Password is not matching')
            }
        }
        
    </script>
</body>
</html>