<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP verification</title>
</head>
<body>
    <h1>Enter the OTP here</h1>
<form action="/auth/otpVerification" method="post">
    <label for="">Enter the OTP here</label>
    <input type="text" name="otp">

    <form action="/auth/newPassword" method="post">
        <button type="submit">Submit</button>
    </form>
</form>
</body>
</html>