<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
</head>
<body>
    <h1>Signup Verification</h1>
    <form action="/auth/signupVerification" method="post">
        <label for="">Enter the OTP here</label>
        <input type="text" name="otp">

        <form action="/clientLogin" method="post">
            <button type="submit">Submit</button>
        </form>
    </form>
</body>
</html>