<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <h1>Admin Login</h1>
    <form action="/admin/adminLogin" method="post">
        <label for="">Username</label>
        <input type="text" id="userInput" name="username">

        <label for="">Email</label>
        <input type="email" id="emailInput" name="email">

        <label for="">Password</label>
        <input type="text" id="passwordInput" name="password">

        <button type="submit" id="submit">Login</button>
        <input type="hidden" id="error" style="color: rgb(142 0 0); width: 100%; background: none; border: none; text-align: center; padding-top: 10PX;font-size: 17PX">
        <a href="/auth/recoverPassword">Forget Password ?</a>
        <input type="hidden" name="token" id="token">

        <script src="/auth/js/login"></script>
    </form>
</body>
</html>