<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <a href="/admin/admins"><button>Admins</button></a>
    <a href="/admin/mentors"><button>Mentors</button></a>
    <a href="/admin/clients"><button>Clients</button></a>
    <a href="/admin/addAdmin"><button>Add Admin</button></a>
    <a href="/admin/addMentor"><button>Add Mentor</button></a>


    <a href="logout"><button>Log out</button></a>
</body>
</html>